.navmio{
    background: #ECF0F1 ;
	padding : 8px 16px 8px 16px;
	text-align: center;
    font-family: "Open Sans", sans-serif;
}

.body-home{
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url(https://image.freepik.com/foto-gratis/fondo-borroso-cliente-cafeteria-desenfoque-fondo-bokeh-filtro-vintage_7189-867.jpg) 50% fixed;
  background-size: cover;
}


.login-box {
	
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  opacity: 0.6;
  
 }
 
.app-title {
text-align: center;
color: #777;
}

.body{
	background: #FAD7A0;
}

.columna{
	position: sticky;
	left: 0;
	background:#ECF0F1;
}